#Title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -850%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#DogPic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px, solid #000;
}
#DogButton {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 20%;
    height: 5%;
    border-radius: 10px;
    transition: background-color .5s ease;
    transition: width .5s ease, height .5s ease;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#DogButton:hover {
    background-color: rgb(179, 179, 179);
    width: 21%;
    height: 6%;
}
#DogButton:active {
    width: 19%;
    height: 4%;
}
